
.categorias-conteiner {
  display: flex;
  justify-content: space-between;
}

.card-categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  transition:
    background-color 0.9s ease-in-out, font-style 1s ease-in-out,
    opacity 0.5s ease-in-out,
    transform 0.2s ease-in-out;
  border-radius: 90px;
}

.card-categoria:hover {

  cursor: pointer;
  font-style: italic;
  transform: scale(1.09);
  z-index: 1;
}

.categorias-conteiner:hover .card-categoria:not(:hover) {
  opacity: 0.6;
}

.img-categoria {
  width: 100%;
  height: 15vw;
  border-radius: 90px;
  object-fit:cover;
}

.nombre-categoria {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: lighter;
}
  
.card-link {
  width: 30%;
  display: inline-block; 
  text-decoration: none; 
  color: inherit;
}