:root {
  --verde-oscuro: #14471E;
  --verde-claro: #68904D;
  --naranja: #EE9B01;
  --naranjaOscuro: #DA6A00;
  --fuente-principal: system-ui, -apple-system, BlinkMacSystemFont;
  
  /*
  --fondo: url('https://e1.pxfuel.com/desktop-wallpaper/75/10/desktop-wallpaper-road-bikes-racing-bicycle.jpg');
  background-image: var(--fondo);
  background-size: 100vw;
  background-repeat: no-repeat;
  
  mask-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.1) 30%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0) 40%, transparent)
*/
}
/*https://www.ciclismoafondo.es/uploads/s1/32/75/31/7/entrenamiento-1.jpeg*/
body{
  font-family: var(--fuente-principal);
  padding-top: 71px;
}

.container-buscador{  
  display: flex;
  flex-direction: column;
  height: 40vw;
  align-items: center;
  background-image: url('https://www.ciclismoafondo.es/uploads/s1/32/75/31/7/entrenamiento-1.jpeg');
  background-size: 100vw;
  background-repeat: no-repeat;
  position: relative;
}

.container-buscador::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  
}

.form-buscador {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  color: #fff;
  position: relative;
  margin: 3rem;
}


.titulo-slogan {
  font-family: var(--fuente-principal);
  position: relative;
  color: #fff;
  font-size: 5rem;
  width: 50%;
  margin: 0;
}

.forms-busca-tu-bici {
  font-family: var(--fuente-principal);
  color: #fff;
  width: 50vw;
  padding: 10px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: #ffffff;
  border-width: 3px;
  border-style: solid;
  border-radius: 20vw;
  text-align: center;
  transition: background-color 0.3s ease;
}


.forms-busca-tu-bici:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  text-decoration: none;
  
}

.forms-busca-tu-bici::placeholder {
  font-family: var(--fuente-principal);
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
}

.search-icon {
  font-size: 3rem;
  margin-right: 10px;
}

.search-container {
  display: flex;
  align-items: center;
}

.border-radius {
  border-radius: 5px;
  border-width: 3px;
  border-style: inset;
  border-color: var(--naranja);

}

.formulario-filtro {
  background-color: var(--verde-oscuro);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.titulo-filtro {
  margin: 1rem;
  background-color: white;
  font-size: 1rem;
  width: 60%;
}

.formulario-filtro-verde {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  padding: 1rem;
}

.div-card-producto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem;

}

.card-producto-home {
  width: 40%;
  margin: 2rem;
  display: flex;
  margin-bottom: 10px;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  transition: background-color 0.5s ease-in-out,
  transform 0.2s ease-in-out;
}

.card-producto-home:hover {
  cursor: pointer;
  background-color: rgb(241, 240, 240);
  transform: scale(1.1);
}

.image-ciclas-home {
  width: 20rem;
}

.home {
  display: flex;
}

.filtro-izquierda {
  width: 60%;
}

.carrusel-container {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 0;
  padding: 1rem; 
  transition: background-color 0.3s ease-in-out;
  background-color: #eceaea;
}

.carrusel-button { 
  border: none;
  border-radius: 50%; 
  font-size: 20px; 
  cursor: pointer;
  padding: 15px 20px;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease-in-out; 
}

.carrusel-button:hover {
  transform: scale(1.1); 
}
.titulo-carrusel{
  font-family: var(--fuente-principal);
  font-weight: lighter;
}

.carrusel-image {
  max-width: 100%;
  max-height: 250px;
  margin: 0 20px;
}
.card-carrusel{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition:transform 0.2s ease-in-out; 
}

.card-carrusel:hover{
transform: scale(1.1);
cursor: pointer;
}

.detalle-producto-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 3s ease;
}


.detalle-producto-card {
  height: 90%;
  width: 85%;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
}

.detalle-izquierda-card {
  display: flex;
  flex-direction: column;
}

.detalle-de-la-bici {
  margin: 1rem;
  font-family: var(--fuente-principal);
  font-size: 1.5rem;
}
.detalle-descripcion-producto{
  font-family: var(--fuente-principal);
}

.button {
   
  border: none;
  border-radius: 35px; 
  font-size: 1.2rem; 
  cursor: pointer;
  padding: 4px;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, transform 0.2s ease-in-out; 
}

.button:hover {
  background-color: #e3e2e2; 
  transform: scale(1.1); 
}

.imagen-Detalle-Producto {
  height: 70%;
  width: auto;
}

.titulo-nombre-bici {
  color: #fff;
  border: none;
  font-weight: bold;
  font-style: none;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
}

.categorias-conteiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 6rem;

}

.card-categoria {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 
  background-color 0.9s ease-in-out
  ,font-style 1s ease-in-out,
  opacity 0.5s ease-in-out,
  transform 0.2s ease-in-out;
}

.card-categoria:hover {
  
  cursor: pointer;
  font-style: italic;
  background-color: rgb(255, 255, 255);
  transform: scale(1.09);
  z-index: 1;
}

.categorias-conteiner:hover .card-categoria:not(:hover) {
  opacity: 0.6; 
}

.img-categoria{
  width: 80%;
}
.titulos {
  margin: 2rem 1rem;
  color: rgb(0, 0, 0);
  font-family: "Arial", sans-serif; 
  font-size: 2em;
  letter-spacing: 0.05em; 
  font-weight: normal; 
}
.nombre-categoria{
  font-size: 1rem;
  font-weight: lighter;
}


/*HACIENDO RESPONSIVE */
@media screen and (max-width: 768px) {
  .div-card-producto {
    flex-direction: column;
    margin: 0;
    border: none;
  }

  .card-producto-home {
    width: 100vw;
    margin: 1rem 0;
    padding: 0;
  }

  .carrusel-container {

    align-items: center;
  }

  .carrusel-image {
    max-width: 95vw;
    margin: 10px 0;
  }
  .carrusel-button{
    font-size: 1rem;
    padding: 8px 12px;
    color: black;
    background-color: transparent;
  }
  .carrusel-button:hover{
    background-color: transparent;
  }

  .detalle-producto-card {
    width: 90%;
    height: auto;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }


  .detalle-izquierda-card {
    align-items: center;
    text-align: center;
  }

  .imagen-Detalle-Producto {
    width: 60%;
  }

  .button {
    width: 80%;
    margin-top: 1rem;
  }
  .search-container{
    width: 100%;
  }

  .form-buscador {
    margin-top: 2rem;
    width: 100%;
    font-size: 1rem; 
  }
  .forms-busca-tu-bici{
    width: 100vw;
    margin: 1rem;
  }
  .search-icon{
    display: none;
  }
  .forms-busca-tu-bici::placeholder {
    font-weight: 1;
    font-size: 1.5rem;
    color: #ffffff;
  }
  
 
  .div-card-producto {
    flex-direction: column;
  }
  
  .card-producto-home {
    width: 100%;
  }
  
  .carrusel-image {
    
    height: 40vw;
  }
  
  .detalle-producto-card {
    width: 100%;
    padding: 0;
  }
  .detalle-producto-overlay{
    height: auto;
  }
  .detalle-descripcion-producto{
    display: flex;
    flex-direction: column;
  }
  
  .categorias-conteiner {
    flex-direction: column; 
  }
  
  .card-categoria {
    width: 100%;
    padding: 0;
    border: rgb(209, 206, 206);
    justify-content: space-around;
    border-width: 2px;
    border-style: solid;
    margin: 1rem 0;
  }
  .nombre-categoria{
    margin-bottom: 1rem;
  }

  .titulo-slogan{
    display: none;
  }
  .titulos{
    margin: 2rem 0 0 0;
  }

}

@media (min-width: 431px){
  body{
      padding-top: 93px;
  }
}